p {
  margin-bottom: 8rem;
  font-size: 1.8rem;
  text-align: center;
}
.angular {
  color: #c62828;
  font-weight: bold;
  text-shadow: 0 0 2px #ff5252;
}
.bold-txt {
  font-weight: bolder;
  color: #def2f1;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
}
caption {
  background-color: #def2f1;
  font-size: 1.8rem;
  padding: 2rem 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
th {
  background-color: #17252a;
  font-size: 2rem;
  font-weight: 700;
  color: white;
}
td,
th {
  padding: 1.5rem 0.8rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}
tr:nth-child(odd) {
  background-color: #3aafa9;
}
tr:nth-child(even) {
  color: white;
  background-color: #2b7a78;
}
.btn-detailed {
  position: relative;
  border-radius: 1rem;
  color: #fff;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  overflow: hidden;
  border-radius: 1.4rem;
  border: none;
  z-index: 1;
}

.btn-detailed::after {
  content: "";
  position: absolute;
  border: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5564a;
  z-index: -2;
}

.btn-detailed::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #c3362b;
  transition: all 0.3s;
  z-index: -1;
}

.btn-detailed:hover::before {
  width: 100%;
  color: #17252a;
}
@media (max-width: 600px) {
  td,
  th {
    font-weight: 500;
  }
}
@media (max-width: 400px) {
  .btn-detailed {
    padding: 0.8rem 1.6rem;
  }
}
