@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: Rubik, sans-serif;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  width: 50%;
  margin: 0 auto;
  background-color: #3aafa9;
  padding: 8rem 0;
}
h1,
p,
h2,
span,
th,
td caption {
  color: #17252a;
}
button {
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
}
.home-back-btn {
  background-color: #def2f1;
  color: #17252a;
  transition: all 0.4s;
}
.home-back-btn:hover {
  background-color: #17252a;
  color: #def2f1;
}
@media (max-width: 1023px) {
  body {
    width: 80%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 54.1%;
  }
  button {
    padding: 1rem 2rem;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 48%;
  }
}
@media (max-width: 350px) {
  html {
    font-size: 44%;
  }
}
